---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Contact">
  <div
    class="min-h-screen py-10 md:px-5 px-2 flex flex-col gap-5"
    style="background-color: #ececaa;"
  >
   

    <Contact />
	 <a
      href="/"
      class="inline-flex items-center gap-2 border border-black bg-slate-800 text-white px-4 py-2 rounded-lg hover:bg-slate-950 mt-16 transition duration-500 max-w-52"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        fill="currentColor"
        class="bi bi-arrow-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
        ></path>
      </svg>
      Back Home
    </a>
  </div>
</Layout>
